
/* General Styles */

body{
  background-color: #f7f7f7;
}

* {
 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5a5a5a;
  font-family: Helvetica, Arial, sans-serif;
}


/* Responsive */


/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #fff;
}

@media (min-width: 1170px){
  .container {
    max-width: 1170px;
    margin: 4em auto;
    padding: 20px 100px;
  }
}


/* Row */
.row {
  margin-left: -5px;
  margin-right: -5px;
}

.row:before {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}


/* Col */
.col {
  display: inline-block;
  vertical-align: top;
  min-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  margin-right: -4px;
  *zoom: 1;
  *display: inline;
}

@media (min-width: 712px){
.col-2 {
  width: 50%;
}
}

/* Media */

img{
  width: 100%;
}


/* Align / Margin / Padding */
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-3{
  margin-top:3em;
  margin-bottom:3em;
}

.mt-3{
  margin-top:3em;
}

.mb-1{
  margin-bottom:1em;
}



.text-center{
  text-align: center;
}

.input-block{
  width: 100%;
}


/* Typograph */
p{
  margin-bottom: 1em;
}

h1{
  margin-bottom: 1em;
  font-size: 2.66em;
}



@media (max-width: 940px){
  h1{
    font-size: 2em;
  }
}


/* Input */
input, select, textarea{
  height: 40px;
  border: 1px solid #858585;
  transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  -moz-transition: border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  -webkit-transition:  border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  -o-transition:  border-color 200ms ease 0s, box-shadow 200ms ease 0s;
  margin: 1em 0;
}

textarea{
  font-size: 0.9em;
  line-height: 1;
  padding: 4px;
}

input:focus, select:focus, textarea:focus{
  box-shadow: #52a8ec 0px 0px 6px 0px;
  border-color:  #52a8ec;
}

input.invalid, select.invalid, textarea.invalid{
  box-shadow: #ff0000 0px 0px 6px 0px;
  border-color:  #ff0000;
}

.form-group  input, .form-group  textarea, .form-group  select{
  margin-top: 0;
}

.form-group >  label{
  display: block;
  box-sizing: border-box;
  font-size: 0.7em;
}

/* Button */
.button-center{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

button{
  height: 40px;
  background: #37e6af none repeat scroll 0% 0%;
  border: 1px none #7f95eb;
  text-align: center;
  justify-content: center;
  color:#ffffff;
  border-radius: 3px;
  width: 50%;
}

button:hover, select:hover{
  cursor: pointer;
}

@media (max-width: 712px){
  button{
    width: 100%;
  }
}